
<div class="about-img" >
    <div class="container-fluid">
        <div class="row" style="padding-top: 160px;padding-left: 40px">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-white">
                <h2 class="section-title text-white">About Us</h2>
                <p class="text-white" style="font-size:22px;margin-top: -50px">In the world of Mobile and Web, it is not enough to develop a system with great features. The graphical design of brands is a key element to stand out from the crowd. We are passionate and fully dedicated to create an identity for
                    you and your Business in a competitive online world.</p>

            </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="row" >
                <div class="col-12 text-center"  style="padding-top: 100px">
                    <h1 class="section-title ">Services</h1>
                </div>
            </div>
<div class="row">
  
  <div class="col-md-4" >
        <mat-card class="example-card" style="text-align: center" >
              <img src="assets/images/icons/plan.png" class="mb-4" alt="icon">
          <mat-card-content>
            <p >
                    Every business is unique. We understand this. Which is why we plan and customize every project.
            </p>
          </mat-card-content>
        </mat-card>
        </div>
        
  <div class="col-md-4">
  <mat-card class="example-card" style="text-align: center">
        <img src="assets/images/icons/design.png" class="mb-4" alt="icon">
    <mat-card-content>
      <p >
            All branding, website and promotional material will be designed and developed to a professional standard.
      </p>
    </mat-card-content>
  </mat-card>
  </div>
  <div class="col-md-4">
  <mat-card class="example-card" style="text-align: center">
        <img src="assets/images/icons/print.png" class="mb-4" alt="icon">
    <mat-card-content>
      <p >
            We understand the importance of timeline. Hence aim to deliver all our project within the given timeline.
      </p>
    </mat-card-content>
  </mat-card>
  </div>
  </div> 
  </div>

<section>
  <div class="container">
        <div class="row">
                <div class="col-12 text-center" style="padding-top: 50px"> 
                    <h1 class="section-title ">Our Clients</h1>
                </div>
            </div>
    <mdb-carousel [isControls]="false" [animation]="'slide'" >
       <mdb-carousel-item >
         <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-1.png" alt="First slide">
         <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-2.png" alt="First slide">
         <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-4.png" alt="First slide">
         <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-5.png" alt="First slide">
         <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/Cap-Logo.jpg" alt="Second slide">
         <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-6.png" alt="Second slide">
       </mdb-carousel-item>
       <mdb-carousel-item >
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-2.png" alt="First slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-4.png" alt="First slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-5.png" alt="First slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-6.png" alt="Second slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/Cap-Logo.jpg" alt="Second slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-1.png" alt="First slide">
          </mdb-carousel-item>
          <mdb-carousel-item >
                <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-4.png" alt="First slide">
                <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-5.png" alt="First slide">
                <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-6.png" alt="Second slide">
                <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/Cap-Logo.jpg" alt="Second slide">
                <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-1.png" alt="First slide">
                <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-2.png" alt="First slide">
              </mdb-carousel-item>
       <mdb-carousel-item>
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-5.png" alt="First slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-6.png" alt="Second slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/Cap-Logo.jpg" alt="Second slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-1.png" alt="First slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-2.png" alt="First slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-4.png" alt="First slide">

       </mdb-carousel-item>
       <mdb-carousel-item>
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-6.png" alt="Second slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/Cap-Logo.jpg" alt="Second slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-1.png" alt="First slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-2.png" alt="First slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-4.png" alt="First slide">
            <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-5.png" alt="First slide">
       </mdb-carousel-item>
      
     </mdb-carousel>
     </div>          
    </section>
