body{
    font-family: 'Montserrat','sans-serif';
    font-weight: 400;
}

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import './src/app/style/portfolio';



.ng-valid[required], .ng-valid.required {border: 1px solid #42A948;}
.error {color:#ff0000;}
.success { color:green; }
.contact-message { text-align: center; }
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
