
 <div class="header">
        <div class="container">
            <div class="row" >
                <div class="col-lg-11 mx-auto" >
                    <h1 class="text-white font-tertiary" style=" font-size:60px;padding-top: 150px">Stunning Designs<br> To Grow <br>Your Business</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 mx-auto text-center">
                <p class="font-secondary paragraph-lg text-dark " style="padding-top: 50px">In the world of Mobile and Web, it is not enough to develop a system with great features.<br> The graphical design of brands is a key element to stand out from the crowd.
                    <br>We are passionate and fully dedicated to create an identity for you and your Business in a competitive online world.
                    <BR><br>
                    <h4 style="font-weight:bold;">Stunning Designs to Grow Your Business. </h4><br><br><br>
                    <button class="btn btn-transparent text-white" [routerLink]="['/about']"  style="font-family: sans-serif">Know More</button>
            </div>
            <div id="animate"></div>
            <div class="layer" id="l5">
                <img id="optionalstuff" src="assets/images/reebimages/SHAPE-1.png" alt="bg-shape" class="bg-shape-2">
            </div>
            <div class="layer" id="l1">
                <img src="assets/images/reebimages/dots-group-orange.png" alt="bg-shape" class="bg-shape-3">
            </div>
            <div class="layer" id="shape">
                <img src="assets/images/reebimages/dots-orange.png" alt="bg-shape" class="bg-shape-1 w-100">
            </div>
         
        </div>
    </div>
    <section class="section">
            <div class="container ">
                <div class="row " >
                    <div class="col-12 text-center ">
                        <h1 class="section-title ">Services</h1>
                    </div>
           
                </div>
            </div>
            <div class="container">
            <div class="card-deck " >
                    <div class="card active-bg-primaryorange" style="height: 300px;">
                      <div class="card-body text-center">
                            <img src="assets/images/reebimages/web design + dev.png" style="height:70px; width:55px;padding-top: 15px ">
                            <h5 class="card-title text-white" style="padding-top: 20px">WEB DESIGN & DEVELOPMENT</h5>
                        <p class="card-text text-white" >
                            <br> fast and beautiful websites<br>
                            One Page Website <br>
                            Ecommerce Website <br>
                            Blog Website <br>
                            CMS & Static Website <br>
                            <!-- *All Websites are responsive <br> -->
                        </p>
                      </div>
                    </div>
                    <div class="card active-bg-grey" style="height: 300px;">
                        <div class="card-body text-center">
                              <img src="assets/images/reebimages/e-commerce.png" style="height:70px; width:55px;padding-top: 15px ">
                          <h5 class="card-title" style="padding-top: 20px;color:#2B93D1">E-COMMERCE</h5>
                          <p class="card-text" style="color:#2B93D1">Amazon Integration <br>
                            Flipkart Integration  <br></p>
                        </div>
                      </div>
                      <div class="card active-bg-primaryorange" style="height: 300px;">
                        <div class="card-body text-center">
                              <img src="assets/images/reebimages/social-media.png" style="height:70px; width:55px;padding-top: 15px ">
                          <h5 class="card-title text-white" style="padding-top: 20px">SOCIAL MEDIA</h5>
                          <p class="card-text text-white" >
                            Facebook  <br>
                            Instagram <br>
                            Twitter <br>
                            LinkedIn <br>
                            Pinterest  <br></p>
                        </div>
                      </div>
                  </div>
                  <div class="card-deck " style="padding-top: 20px" >
                    <div class="card active-bg-grey" style="height: 300px;">
                        <div class="card-body text-center">
                              <img src="assets/images/reebimages/branding.png" style="height:70px; width:55px;padding-top: 15px ">
                          <h5 class="card-title" style="padding-top: 20px;color:#2B93D1">BRANDING</h5>
                          <p class="card-text" style="color:#2B93D1">LOGO Creation <br>
                            Illustration <br>
                            Brand Naming <br>
                            Company Profile <br>
                            PowerPoint Presentation (PPT) Design  <br></p>
                        </div>
                      </div>
                      <div class="card active-bg-primaryorange" style="height: 300px;">
                        <div class="card-body text-center">
                              <img src="assets/images/reebimages/seo and digital logo.png" style="height:70px; width:55px;padding-top: 15px ">
                          <h5 class="card-title text-white" style="padding-top: 20px">SEO & DIGITAL MARKETING</h5>
                          <p class="card-text text-white" >Content Writing  <br>
                            Email Marketing <br>
                            Blog Marketing <br>
                            Google Ads </p>
                        </div>
                      </div>
                      <div class="card active-bg-grey" style="height: 300px;">
                        <div class="card-body text-center">
                              <img src="assets/images/reebimages/print.png" style="height:70px; width:55px;padding-top: 15px ">
                          <h5 class="card-title" style="padding-top: 20px;color:#2B93D1">PRINT</h5>
                          <p class="card-text" style="color:#2B93D1">Brochure <br>
                            Flyer <br>
                            Invitation <br>
                            Standee <br>
                            Letter head  <br>
                            Visiting And  Wedding Card <br>
                            <!-- *We also provide prints </p> -->
                        </div>
                      </div>
                      </div>
                  </div>
            </section>

            <section>
                    <div class="container">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h1 class="section-title ">Portfolio</h1>
                                </div>
                            </div>
                            <div class="row gallary " >
                                <div class="col-md-4 active-bg-white" >
                                    <a href="assets/images/reebimages/visiting%20card-06.jpg" data-lightbox="mygallary">
                                        <img src="assets/images/visitingQRCode.jpg"></a>
                                        <h4 style="text-align:center;padding-top: 25px;padding-bottom: 5rem">Visiting QR Code</h4>
                                </div>
                                <div class="col-md-4 active-bg-white">
                                    <a href="assets/images/reebimages/Final-HG.jpg" data-lightbox="mygallary">
                                        <img src="assets/images/Halla-Gulla-Box-01-300x200.png"></a>
                                        <h4 style="text-align:center;padding-top: 30px;padding-bottom: 8px">Halla Gulla</h4>
                                </div>
                                <div class="col-md-4 active-bg-white" style="padding-top:50px">
                                    <a href=" assets/images/reebimages/Logo_new-02.png" data-lightbox="mygallary">
                                        <img src="assets/images/ustcnew.png"></a>
                                        <h4 style="text-align:center;padding-top: 60px;padding-bottom: 50px">USTC Logo</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 " style="text-align: center">
                            <a href="portfolio.html"><button class="btn btn-transparent text-white"  style="font-family: sans-serif">View More</button></a>
                        </div>
                        </section>
                        <!-- //////////////////////////////////////////////////////////////-->
                        <!-- <ngx-float-button icon="add">
                            <ngx-float-item-button icon="person_add" ></ngx-float-item-button>
                            <ngx-float-item-button icon="gps_fixed" ></ngx-float-item-button>
                            <ngx-float-item-button icon="mode_edit" ></ngx-float-item-button>
                        </ngx-float-button> -->
                        
                         <!-- //////////////////////////////////////////////////////////////-->
                         <section> 
                         <div class="container">
                                <div class="row">
                                        <div class="col-12 text-center" style="padding-top: 50px"> 
                                            <h1 class="section-title ">Our Clients</h1>
                                        </div>
                                   
                                   <div class="col-12" style="align-items: center"> 
                            <mdb-carousel [isControls]="false" [animation]="'slide'" >
                               <mdb-carousel-item >
                                 <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-1.png" alt="First slide">
                                 <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-2.png" alt="First slide">
                                 <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-4.png" alt="First slide">
                                 <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-5.png" alt="First slide">
                                 <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/Cap-Logo.jpg" alt="Second slide">
                                 <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-6.png" alt="Second slide">
                               </mdb-carousel-item>
                               <mdb-carousel-item >
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-2.png" alt="First slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-4.png" alt="First slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-5.png" alt="First slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-6.png" alt="Second slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/Cap-Logo.jpg" alt="Second slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-1.png" alt="First slide">
                                  </mdb-carousel-item>
                                  <mdb-carousel-item >
                                        <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-4.png" alt="First slide">
                                        <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-5.png" alt="First slide">
                                        <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-6.png" alt="Second slide">
                                        <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/Cap-Logo.jpg" alt="Second slide">
                                        <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-1.png" alt="First slide">
                                        <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-2.png" alt="First slide">
                                      </mdb-carousel-item>
                               <mdb-carousel-item>
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-5.png" alt="First slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-6.png" alt="Second slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/Cap-Logo.jpg" alt="Second slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-1.png" alt="First slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-2.png" alt="First slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-4.png" alt="First slide">
                        
                               </mdb-carousel-item>
                               <mdb-carousel-item>
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-6.png" alt="Second slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/Cap-Logo.jpg" alt="Second slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-1.png" alt="First slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/LOGO-2.png" alt="First slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-4.png" alt="First slide">
                                    <img class="text-center d-block w-60 p-4" src="assets/images/reebimages/logo-5.png" alt="First slide">
                               </mdb-carousel-item>
                              
                             </mdb-carousel>
                            </div>
                             </div>                          
                    </div>

                             </section>  
                             <div></div>
                             <!-- <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3" >
                                           <div class="jumbotron">

                                               
                                            <form name="form"  (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate >    
                                                        <h1 style="color: #2b93d1;"></h1>
                                                    
                                             
                                                <div class="form-group">
                                                    <label for="firstName">Name</label>
                                                    <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
                                                    <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                                                        <div *ngIf="firstName.errors.required">First Name is required</div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                                                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                                        <div *ngIf="email.errors.required">Email is required</div>
                                                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="phoneNo">Phono No</label>
                                                    <input type="phoneNo" class="form-control" name="phoneNo" [(ngModel)]="model.phoneNo" #phoneNo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phoneNo.invalid }" required minlength="10" />
                                                    <div *ngIf="f.submitted && phoneNo.invalid" class="invalid-feedback">
                                                        <div *ngIf="phoneNo.errors.required">Password is required</div>
                                                        <div *ngIf="phoneNo.errors.minlength">Password must be 10 characters</div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                                <label for="lastName">Message</label>
                                                                <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName"  #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
                                                                <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
                                                                    <div *ngIf="lastName.errors.required">Last Name is required</div>
                                                                </div>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary" >Send</button>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                </div> -->
                             